# General.
PROJECT_NAME=t6-2-BigData__Labs

# Database.
# # Docker related.
ADMIN_PANEL_HOST=localhost
DB_PATH=./database
LOGS_PATH=./logs

# ## Apache Hadoop specific.
HADOOP_IMAGE_NAME=apache-hadoop
HADOOP_CONTAINER_NAME=${PROJECT_NAME}.Hadoop
HADOOP_ADMIN_PANEL_PORT=9870

# ## Spark Hadoop specific.
SPARK_IMAGE_NAME=apache-spark
SPARK_CONTAINER_NAME=${PROJECT_NAME}.Spark
# See also ./Apache__Spark/.env.example for SPARK-* related variables, for instance:
SPARK_ADMIN_PANEL_PORT=9870

# vi:ft=bash
