# Pixi virtual environment you want to activate automatically with direnv.
MY_PIXI_ENV=dev

# Current docker container.
IMAGE_NAME=${HADOOP_IMAGE_NAME}
CONTAINER_NAME=${HADOOP_CONTAINER_NAME}

# vi:ft=bash
